.responsive {
  width:100% ;  
} 
header > h1{ 
    color: #0b71accb;
    text-align: center;
    font-weight: 200;
    font-size: 200%;
    contain: content;
    margin-top: 0%;
    text-shadow: 3px 3px 1px black

  }
  nav > ul {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 120%;
  }
  
  li {
    margin: 0 .75rem;
    font-weight: 200;
    font-size: 120%;
  }

  img{
    min-width: 20%;
    width: 20%;
    display: block;
    margin: 0px auto;
}
/* p{
    
  color: rgb(33, 29, 29);
  font-weight: 120;
  /* text-shadow: 3px 3px 1px rgb(41, 40, 40); 
  font-size: 150%;
} */
section > article{
    
  color: rgb(7, 7, 79);
  font-weight: 200;
  /* text-shadow: 3px 3px 1px rgb(41, 40, 40); */
  font-size: 120%;
}
article > ul {
  display:inline-flex;
  justify-content: right;
  font-weight: 200;
  font-size: 100%;
}
@media screen and (max-width: 600px)
{
    h1{
    color: rgba(173, 3, 119, 0.795);
    font-size: 10vw;
   } 
   nav > ul {
    font-size: 3vw;
    color: rgba(85, 173, 3, 0.795);
   }
   section > div {
    font-size: 3vw;
    color: rgba(173, 40, 3, 0.795);
   } 
    
} 
@media screen and (min-width: 600px)  and (max-width: 1200) 
{
  header > h1{
    color: rgba(3, 173, 9, 0.795);
    font-size: 10vw;
   } 
   nav > ul {
    font-size: 3vw;
    color: rgba(48, 3, 173, 0.795);
   }
   section > div {
    font-size: 3vw;
    color: rgba(173, 3, 119, 0.795);
   }
} 
@media screen and (min-width: 1000px) 
{
  header > h1{
    color: rgba(173, 20, 3, 0.795);
    font-size: 10vw;
   } 
   nav > ul {
    font-size: 3vw;
    color: rgba(173, 3, 119, 0.795);
   }
   section > div {
    font-size: 3vw;
    color: rgba(3, 173, 145, 0.795);
   }
   section > article {
    font-size: 3vw;
    color: rgba(3, 173, 145, 0.795);
   }
} 

 /*sirve para comentar en CSS
}
/*body {
    background-image: url("https://fondosmil.com/fondo/12586.jpg");
    background-size: 10rem;
    
    background-repeat: no-repeat;
    background-size: cover;
p{
    color: rgb(236, 233, 233);
    font-weight: 700;
    text-shadow: 3px 3px 1px rgb(41, 40, 40);
    font-size: 210%;
 /*sirve para comentar en CSS
}